.scroll-horizontal-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
}
.scroll-horizontal-container::-webkit-scrollbar {
  display: none;
}


.progress-container {
  width: 100%;
  height: 2px;
  background: white;
	position: fixed;
	bottom:43px;
}

.progress-bar {
  height: 2px;
  background: #2B2D42;
  width: 0%;
}