@charset "utf-8";
/* CSS Document */
*{
	padding: 0;
	margin: 0;
}
html{
	scroll-behavior: smooth;
}
@font-face{
	src: url("../fonts/sanz/RNSSanz-Medium.ttf");
	font-family: RNSSanz-Bold;
}
@font-face{
	src: url("../fonts/urbano/URBANO-Bold.otf");
	font-family: Urbano-Bold;
}
#wrapper{
	width: 100%;
	margin: 0 auto;
	background: #EFC1C2;
/*	display: flex;*/
}
.Section-1{
	width: 100%;
	height: 100vh;
	background: #EDF2F4;
	display: flex;
	flex: 0 0 auto;
	font-family: Urbano-Bold;
	position: relative;
}
.header{
	position: fixed;
	display: flex;
	z-index: 999;
}
.logo{
	width: 100px;
	height: 100px;
/*	background: #2B2D42;*/
	position: absolute;
	top: 50px; left: 250px;	
}
.logo img{
	width: 100px;
	height: auto;
	display: flex;
}

nav{
	width: 70%;
	height: 20px;
	position: absolute;
	top: 100px;
	left:1300px;

}
nav .menu ul{
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.menu ul li{
	margin: 0 40px;
	transition: all 1s
}
.menu ul li a{
	color: #2b2d42;
	text-decoration: none;
	font-size: 40px;
	border-bottom: 1px solid #ef233c;
}
.menu ul li:hover{
	transform: scale(1.5);
}
.social{
	position: fixed;
	top: 70%;
	left: 10px;
	z-index: 998;
}
.soial ul{
	display: flex;
}
.social ul li{
	list-style: none;
	margin: 5px 0;
	
}
.social ul li img{
	width: 30px;
	height: 30px;
}
.social ul li{
	transition: all 1s;
}
.social ul li:hover{
	transform: translate(20px);
}
.box-1{
	position: absolute;
	top: 50%;
	right: 235px;
	z-index: 997;
	width: 1000px;
	height: 200px;
	border: solid 1px black;
}
.text-1{
	text-align: center;
}
.text-1 a{
	text-decoration: none;
	color: #2b2d42;
	font-size: 3em;
	line-height: 200px;
/*	text-align: center;*/
}
.arrow{
	position: absolute;
	z-index: 996;
	top: 65%;
	right: 50px;
}
.arrow img{
	width: 250px;
}
.text-box{
	width: 20%;
	height: 150px;
	border: 1px solid black;
	position: absolute;
	z-index: 900;
	top: 50%;
	left: 250px;
}
.text-box a{
	color: #2b2d42;
	text-align: center;
	font-size: 3em;
	text-decoration: none;
	line-height: 150px;
	padding: 0 70px;
	box-sizing: border-box;
}
/*section 2*/
.container{
/*
	width: 60%;
	height: 800px;
	background: rgba(255,183,184,1.00);
	display: flex;
*/
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	align-content: center;
	justify-content: center;
}
.box{
	width: 250px;
	height: 250px;
	background: #5B5A5A;
	overflow:hidden;
	margin-top: 150px;
	margin-left: 40px;
	position: relative;
	left: 800px;
	
}
.box img{
	width: 100%;
}
.box:hover .content{
	width: 250px;
	height: 250px;
	background: rgba(0,0,0,0.50);
	position: absolute;
	top:0;
	color: white;
	opacity: 1;
	transition-duration: 1s;
}
.box .content{
	opacity: 0;
	text-align: center;
	font-size: 2em;
	line-height: 250px;
}
/*section 3*/
.text-box2{
	width: 25%;
	height: 200px;
	border: 1px solid red;
	position: absolute;
	z-index: 901;
	top: 50%;
	left: 250px;
}
.text-box2 a{
	color: #2b2d42;
	text-align: center;
	font-size: 3em;
	text-decoration: none;
	line-height: 150px;
	padding: 0 75px;
	box-sizing: border-box;
}
.text-box2 p{
	font-family: RNSSanz-Bold;
	text-align: center;
	width: 300px;
	padding: 1px 80px;
}
.box-2 img{
	width: 100vw;
	height: 100vh;
}
/*section 4*/
.text-box3{
	width: 25%;
	height: 200px;
	border: 1px solid red;
	position: absolute;
	z-index: 902;
	top: 50%;
	left: 250px;
}
.text-box3 a{
	color: #2b2d42;
	text-align: center;
	font-size: 3em;
	text-decoration: none;
	line-height: 150px;
	padding: 0 85px;
	box-sizing: border-box;
}
.text-box3 p{
	font-family: RNSSanz-Bold;
	text-align: center;
	width: 300px;
	padding: 1px 80px;
}
.img-museum img{
	width: 400px;
	height: 400px;
	background: rgba(183,117,118,1.00);
	border-radius: 50%;
	position: absolute;
	z-index: 904;
	top: 180px;
	left: 950px;
}
/*section 5*/
.background{
	background-image: url("../imgs/Untitled-1.jpg");
	position: absolute;
	z-index: 1;
}
.title{
	width: 500px;
	height: auto;
	position: absolute;
	z-index: 811;
	top: 40%;
	left: 800px;
}
.title h1{
	font-family: Urbano-Bold;
	font-size: 6em;
	color: #2b2d42;
	background: rgba(255,159,160,1.00);
	text-align: center;
}
.title h2{
	font-family: Urbano-Bold;
	font-size: 2em;
	color: #2b2d42;
	background: rgba(255,159,160,1.00);
	text-align:center;
	
}
.book{
	width: 8%;
	height: 45px;
	border: 1px solid rgba(253,84,87,1.00);
	position: absolute;
	z-index: 903;
	top: 55%;
	left: 950px;
}
.book a{
	font-size: 1.5em;
	text-decoration: none;
	text-align: center;
	line-height: 45px;
	color:  white;
	padding: 0 30px;
	box-sizing: border-box;	
}

